{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {#<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">#}
    {{ parent() }}
    <style>
        p {
            color: black;
            font-weight: bold;
            margin-left: 50px;
        }
        h1 {
            margin-left:20px;
        }
        button {
            margin-left: 50px;
        }
        .desires {
            margin-left:70px;
        }
    </style>
{% endblock %}

 {% block cat %}
     {% if logedin == 0 %}
         <ul>
             <li><a href="http://127.0.0.1:8000">Pagrindinis</a></li>
             <li><a href="http://127.0.0.1:8000/register">Registracija</a></li>
             <li><a href="http://127.0.0.1:8000/login">Prisijungimas</a></li>
         </ul>
     {% else %}
         {{ parent() }}
     {% endif %}
 {% endblock %}

{% block body %}
    <h1>Skelbimo detalės:</h1>
    <p>{{ 'Vardas: ' ~ user.firstName }}</p>
    <p>{{ 'Pavardė: ' ~ user.lastName }}</p>
    <p>{{ 'El. paštas: ' ~ user.email }}</p>
    <p>{{ 'Tel. numeris: ' ~ user.phoneNumber }}</p>
    <p>{{ 'Miestas: ' ~ user.city }}</p>
    <p>{{ 'Šalis: ' ~ user.country }}</p>
    <p>{{ 'Tema: ' ~ adv.theme}}</p>
    <p>{{ 'Mokau: ' ~ adv.description }}</p>
    {% if adv.desires | length <= 1 %}
        <p>{{ 'Noriu išmokti: ' ~ adv.desires[0].description}}</p>
    {% else %}
        <p>{{ 'Noriu išmokti: '}}</p>
        {%  for desire in adv.desires %}
            <p class="desires">{{desire.description}}</p>
        {% endfor %}
    {% endif %}

    <p>{{ 'Skelbimo data: ' ~ adv.creationDate | date('Y-m-d') ~  adv.creationTime | date(' H:i:s')}}</p>
    {% if f == 1 %}
       <button name="details" onclick="location.href = '/my_advs';">Grįžti</button>
       {{ form_start(form) }}
       {{ form_widget(form) }}
       {{ form_end(form) }}
    {% else %}
        <button name="details" onclick="location.href = '/';">Grįžti</button>
    {% endif %}
{% endblock %}