{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>
    </style>
{% endblock %}

{% block body %}
    <h1>{{ id }}</h1>
    <h1>{{ exchange }}</h1>
    <h1>Description</h1>
    <p>{{ offer.name }}</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}