{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>
    </style>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {{ form_end(form) }}
    <abs>
        {% if offers | length == 0 %}
            <h3>Skelbimų pagal pasirinktą kriterijų nerasta. Grįžkite į pagrindinį puslapį.</h3>
        {% else %}
         {% for offer in offers %}
            <div class="offer">
                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/13694-200.png">
                <h3>{{ offer.description }}</h3>
                <p>{{ users[loop.index0].city }}</p>
                <button name="details" onclick="location.href = '/details/{{ offer.id }}';">Daugiau...</button>

            </div>
         {% endfor %}
        {% endif %}
    </abs>
{% endblock %}
