{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>

        body {
            margin: 0;
            padding: 0;
            font-weight: 100;
            font-family: 'Lato';
        }

        .title {
            margin: 20px auto;
            text-align: center;
            font-size: 96px;
            letter-spacing: 20px;
        }


        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a, .dropbtn {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover, .dropdown:hover .dropbtn {
            background-color: red;
        }

        li.dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {background-color: #f1f1f1}

        .dropdown:hover .dropdown-content {
            display: block;
        }

        abs {position: absolute;
            left: 360px;
            right: 200px;

        }
        .offer {
            border: 1px solid gray;
            padding: 10px;
            margin: 50px;
            width: 110px;
            overflow: hidden;
            height: 240px;
            margin-right: 40px;
            float:left;
            background-color: #333;
            color: white;


        }
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 100px;
            height: 100px;
            background: white;
        }

    </style>
{% endblock %}

{% block body %}


    <abs>{% for offer in offers %}
            <div class="offer">
                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/13694-200.png">
                <h3>{{ offer.name }}</h3>
                <p>{{ offer.place }}</p>
                <button name="details" onclick="location.href = '/details/{{ offer.id }}';">Details</button>

            </div>
        {% endfor %}
    </abs>
{% endblock %}
