{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>
    </style>
{% endblock %}

{% block body %}
    <abs>
        {% if user.adverts | length == 0 %}
            <h3>Skelbimų pagal pasirinktą kriterijų nerasta. Grįžkite į pagrindinį puslapį.</h3>
        {% else %}
            {% for adv in user.adverts %}
                <div class="offer">
                    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/13694-200.png">
                    <h3>{{ adv.description }}</h3>
                    <p>{{ user.city }}</p>
                    <button name="details" onclick="location.href = '/details/{{ adv.id }}';">Daugiau...</button>

                </div>
            {% endfor %}
        {% endif %}
    </abs>
{% endblock %}